<h4><%= end_user.name %>&nbsp;&nbsp;さんの投稿</h4>
<table class="table">
  <thead>
    <tr>
      <th>場所の名前</th>
      <th>いいね数</th>
      <th>おすすめ度</th>

    </tr>
  </thead>
  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td><%= link_to spot.name, public_spot_path(spot.id) %></td>
        <td><%= spot.favorites.count %> いいね</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>