<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-9 mt-5'>
      <% if @end_user.id == current_end_user.id %>
        <h2>マイページ</h2>
        <strong style="color:#b22222;"><% if flash[:notice] %><%= flash[:notice] %><% end %></strong>
      <% end %>
    </div>
      <div class="col-md-2 text-right mt-5">
        <% if @end_user.id == current_end_user.id %>
          <%=link_to "♥",public_end_user_favorites_path(@end_user), class: "favorite_index" %>
        <% end %>
      </div>
  </div>

  <div class='row'>
    <div class='col-md-5 mt-2 mb-5'>
      <%= render 'profile', end_user: @end_user %>
    </div>

    <div class='col-md-6 offset-md-1'>
       <%= render 'index', spots: @spots, end_user: @end_user %>
    </div>
  </div>
</div>