<div class="container">
  <div class="row mt-5 mb-4">
   <div class="col-12">
     <h2 class="text-center" style="color:#dc143c;">本当に退会しますか？</h2>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <p class="text-center">
    　退会すると、会員登録情報やこれまでの投稿履歴が閲覧できなくなります。<br>
      それでもよろしいですか?<br>
      </p>
    </div>
  </div>


  <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
      <%= link_to '退会しない',my_page_public_end_users_path, class:  "btn btn-success" %>
      <%= link_to "退会する", public_withdraw_path, method: :patch, class: "glyphicon glyphicon-tint btn btn-danger"%>
    </div>
  </div>

</div>