<h2 class="mt-5">ジャンル一覧</h2>
<table class="table">
  <tbody>
    <% genres.each do |genre| %>
    <tr>
      <th><%= genre.name %></th>
      <th></th>
      <th></th>
      <th>
        <% unless ["施設", "自然"].include?(genre.name) %>
            <%= link_to '削除',  admin_genre_path(genre), method: :delete, class:'btn btn-danger btn-block' %>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>