<div class="row">
  <div class="col-md-12">
    <h2>ジャンル追加</h2>
  </div>
</div>

<table class="table">
  <tbody>
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
    <tr>
      <th><%= f.text_field :name, autofocus: true, placeholder:" 新規ジャンルを入力"%></th>
      <th><%= f.submit '新規登録',class:'btn btn-success btn-block' %></th>
    </tr>
    <% end %>
  </tbody>
</table>
