<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <h2>ジャンル追加</h2>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-12">-->

<!--    <%#= form_with model: @genre, url: admin_genres_path do |f| %>-->

<!--       <%#= f.text_field :name, autofocus: true, placeholder:"新規ジャンルを入力", class:'col-md-6'%>-->


<!--       <%#= f.submit '新規登録',class:'btn btn-success btn-block col-md-5' %>-->

<!--    <%# end %>-->
<!--  </div>-->
<!--</div>-->


  <h2>ジャンル追加</h2>
  <div class="row">

       <%= form_with model: @genre, url: admin_genres_path do |f| %>
       <div class="col-auto" style="display:flex">
       <%= f.text_field :name, autofocus: true, placeholder:"新規ジャンルを入力 "%>


      <%= f.submit '新規登録',class:'btn btn-success ml-3' %>
</div>
    <% end %>
  </div>
