<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-5 mt-5'>
      <%= render 'new', genre: @genre %>
    </div>

    <div class='col-md-4 offset-md-1'>
       <%= render 'index', genres: @genres %>
    </div>
  </div>
</div>