<div class="container">
  <div class="row">
    <h2>サイト由来</h2>
    <div class="main-visual d-flex flex-column justify-content-center">
      <h2>由来</h2>
      <p>ここに好きなように書く</p>
    </div>
 </div>
</div>