<div class="main-visual">
  <div class = "container">
    <div class = "row">
      <div class = "col mt-5 text-center derivation_font" style ="color:#00ffff">
        <h2 class ="derivation" style ="color:#ffffff">サイトの由来</h2>

          <p>旅行(trip)で行ってほしいと感じる場所を投稿し、<br>
          波紋のように広がって(ripple)ほしいという思いから<br>
          合わせて"Tripple"と命名しました。</p>

      </div>
    </div>
  </div>
</div>
