<div class="outline_visual">
  <div class = "container">
    <div class = "row">
      <div class ="col text-center mt-5" style= "color:#228b22">
        <h2 style= "color:#2f4f4f">サイト概要</h2>
        <p><strong>日本各地の素晴らしい/楽しめる場所を検索したり、ユーザー同士で共有できます。<br>
        また、自身の旅行の思い出を日記として活用できるコミュニティサイトです。</strong></p>
      </div>
    </div>
  </div>
</div>