<div class="container">
  <div class="row">
    <div class="col-md-12 my-3 text-center">

      <h3>まだ知らない日本の良さを発見してみませんか？</h3>
      <p>↓今月のいいね数が多い投稿↓</p>

      <div id="skippr" style="height: 500px;">
        <% (1..5).each do |image| %>
          <div>
            <%= image_tag "kenrokuen.png", class: 'img-fluid' %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>

<script>
$(document).ready(function() {
  $("#skippr").skippr({
    transition: 'slide',
    speed: 1000,
    childrenElementType: 'div',
    autoPlay: true,
    autoPlayDuration: 2000,
    keyboardOnAlways: true,
    hidePrevious: false
  });
});
</script>