<div class="container">
  <div class="row">
    <div class="col-md-12 my-3 text-left" style= "color:#0099cc;">
      <strong><% if flash[:notice] %><%= flash[:notice] %><% end %></strong>
      <!--ログインした際に、spots/showにフラッシュメッセージ(ログインしました。)が送信されるため、上記を記述-->
    </div>
  </div>
   <div class="row">
    <div class="col-md-12 my-3 text-center">
      <h3 style="color:#008080;">まだ知らない日本の良さを発見してみませんか？</h3>
      <h4 style="color:#daa520;">★★いいね数の多い投稿★★</h4>

      <div id="skippr" style="height: 525px;margin: 0 auto;">
        <% @spots.each do |spot| %>
          <div>
            <%= image_tag spot.image, class: 'img-cover' %><br>
            <strong style= "color:#008080;"><%= spot.name %></strong>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>

<script>
$(document).ready(function() {
  $("#skippr").skippr({
    transition: 'slide',
    speed: 1500,
    childrenElementType: 'div',
    autoPlay: true,
    autoPlayDuration: 2000,
    keyboardOnAlways: true,
    hidePrevious: false
  });
});
</script>