<h2>会員情報</h2>

<%= image_tag end_user.get_profile_image(200,200) %>

<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>会員名</th>
      <th><%= end_user.name %></th><!--modelで疑似的にnameを定義しているため、nameが使用可能-->
    </tr>
    <tr>
      <th>自己紹介文</th>
      <th><%= end_user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="col-md-6 mb-5">
  <%= link_to "会員ステータス編集", edit_admin_end_user_path(@end_user), class: "btn btn-success" %>
</div>