<div class='container px-5 px-sm-0'>
  <div class='row mt-5'>
    <div class='col-5 mt-2'>
      <%= render 'profile', end_user: @end_user %>
    </div>

    <div class='col-md-6 offset-md-1'>
       <%= render 'index', spots: @spots, end_user: @end_user %>
    </div>
  </div>
</div>