<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-4 mt-5'>
      <h2>マイページ</h2>
    </div>
  </div>

  <div class='row'>
    <div class='col-5 mt-2'>
      <%= render 'profile', end_user: @end_user %>
    </div>

    <div class='col-md-6 offset-md-1'>
       <%= render 'index', spots: @spots, end_user: @end_user %>
    </div>
  </div>
</div>