<div class ="row">
  <div class ="col-4">
    <p>いいね</p>
  </div>

  <% if spot.favorited_by?(current_end_user) %><!--spot.rbに定義-->
  <div class ="col-1">
    <p>
      <%= link_to  public_spot_favorites_path(spot), method: :delete do %>
        ♥
    </p>
  </div>
  <div class ="col-4">
    <p>
        <%= spot.favorites.count %> いいね
      <% end %>
    </p>
  </div>
  <% else %>
  <div class ="col-4">
    <p>
      <%= link_to public_spot_favorites_path(spot), method: :post do %>
        ♡
    </p>
  </div>
  <div class ="col-4">
    <p>
        <%= spot.favorites.count %> いいね
      <% end %>
    </p>
  </div>
  <% end %>
</div>
